<div class="min-h-screen bg-white">
  <div
    class="md:px-25 text-cs-text-primary font-roboto container mx-auto flex items-center justify-center md:py-20 lg:items-stretch lg:justify-start"
  >
    <div class="hidden flex-1 flex-col font-manrope lg:flex lg:pr-8 xl:pr-14">
      <div>
        <div class="w-24">
          <h2 class="font-russoone text-5xl font-bold text-brand">
            <a routerLink="/">PTS</a>
          </h2>
        </div>
        <div class="mt-5 font-manrope text-4xl font-black">
          Join with us to <br />
          Start
          <span class="text-oj-title">Your Journey</span>.
        </div>
      </div>
      <div class="hidden max-w-full justify-center xl:flex">
        <img
          src="assets/image/storyset/E-Wallet.svg"
          alt="Money illustrations by Storyset"
          class="h-[500px]"
          title="Money illustrations by Storyset"
        />
      </div>
    </div>
    <app-register-merchant-form></app-register-merchant-form>
  </div>
</div>
<app-footer></app-footer>
