<div class="bg-white min-h-screen">
  <div
    class="flex md:py-20 md:px-25 justify-center items-center lg:items-stretch lg:justify-start text-cs-text-primary font-roboto container mx-auto"
  >
    <div class="flex-1 hidden lg:flex flex-col lg:pr-8 xl:pr-14 font-manrope">
      <div>
        <div class="w-24">
          <h2 class="font-russoone text-5xl font-bold text-brand">
            <a routerLink="/">PTS</a>
          </h2>
        </div>
        <div class="font-manrope mt-5 font-black text-4xl">
          Join with us to <br />
          Start
          <span class="text-oj-title">Your Journey</span>.
        </div>
      </div>
      <div class="justify-center hidden xl:flex max-w-full">
        <img
          src="assets/image/storyset/E-Wallet.svg"
          alt="Money illustrations by Storyset"
          class="h-[500px]"
          title="Money illustrations by Storyset"
        />
      </div>
    </div>
    <app-register-merchant-form></app-register-merchant-form>
  </div>
</div>
<app-footer></app-footer>
