<div class="mb-6 max-sm:mx-2">
  <div class="ds-wrap">
    <div class="mt-6">
      <div class="w-full items-center sm:flex">
        <h2 class="mr-5 text-lg font-medium">Reccently Register</h2>
        <div
          class="mt-3 flex flex-col gap-2 sm:ml-auto sm:mt-0 sm:flex-row sm:items-center"
        >
          <button class="btn btn-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="stroke-1.5 mr-2 hidden h-4 w-4 sm:block"
            >
              <path
                d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"
              ></path>
              <polyline points="14 2 14 8 20 8"></polyline>
              <line x1="16" y1="13" x2="8" y2="13"></line>
              <line x1="16" y1="17" x2="8" y2="17"></line>
              <line x1="10" y1="9" x2="8" y2="9"></line>
            </svg>
            Export to Excel
          </button>
          <button class="btn btn-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="stroke-1.5 mr-2 hidden h-4 w-4 sm:block"
            >
              <path
                d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"
              ></path>
              <polyline points="14 2 14 8 20 8"></polyline>
              <line x1="16" y1="13" x2="8" y2="13"></line>
              <line x1="16" y1="17" x2="8" y2="17"></line>
              <line x1="10" y1="9" x2="8" y2="9"></line>
            </svg>
            Export to PDF
          </button>
        </div>
      </div>
      <div class="relative mt-8 overflow-x-auto sm:mt-0">
        <table
          class="w-full border-separate border-spacing-y-[10px] text-left sm:mt-2"
        >
          <thead>
            <tr>
              <th class="t w-2 px-5 py-3 font-medium">#</th>
              <th
                class="px-5 py-3 font-medium"
                style="min-width: 200px; width: 200px; max-width: 200px"
              >
                Merchant Name
              </th>
              <th
                class="px-5 py-3 font-medium"
                style="min-width: 155px; width: 155px; max-width: 155px"
              >
                Merchant Username
              </th>
              <th
                class="px-5 py-3 font-medium"
                style="min-width: 155px; width: 155px; max-width: 155px"
              >
                Email
              </th>
              <th
                class="px-5 py-3 font-medium"
                style="min-width: 155px; width: 155px; max-width: 155px"
              >
                Contact Number
              </th>
              <th
                class="px-5 py-3 text-center font-medium"
                style="min-width: 155px; width: 155px; max-width: 155px"
              >
                Document
              </th>
              <th
                class="px-5 py-3 text-center font-medium"
                style="min-width: 155px; width: 155px; max-width: 155px"
              >
                Status
              </th>
              <th
                class="px-5 py-3 text-center font-medium"
                style="min-width: 155px; width: 155px; max-width: 155px"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="bg-slate-100 shadow"
              *ngFor="let data of registerdMerchant; let i = index"
            >
              <td class="break-all px-5 py-3 font-medium">
                {{ i + 1 }}
              </td>
              <td class="break-all px-5 py-3 font-medium">
                <span class="line-clamp-2">
                  {{ data.company_name }}
                </span>
              </td>
              <td class="break-all px-5 py-3 font-medium">
                <span class="line-clamp-2">
                  {{ data.company_username }}
                </span>
              </td>
              <td class="break-all px-5 py-3 font-medium">
                <span class="line-clamp-2">
                  {{ data.email }}
                </span>
              </td>
              <td class="break-all px-5 py-3 font-medium">
                <span class="line-clamp-2">
                  {{ data.contact_number }}
                </span>
              </td>
              <td class="break-all px-5 py-3 text-center font-medium">
                <span class="line-clamp-2">
                  {{
                    data.document && data.document.length > 1
                      ? data.document.length + " files"
                      : data.document && data.document.length === 1
                      ? "1 File"
                      : "No file"
                  }}
                </span>
              </td>
              <td class="break-all px-5 py-3 text-center font-medium">
                <span
                  class="badge rounded-md py-3"
                  [ngClass]="{
                    'badge-info': data.status === 'pending',
                    'badge-success': data.status === 'approved',
                    'border-none bg-red-600 text-white':
                      data.status === 'rejected'
                  }"
                >
                  {{ data.status.toUpperCase() }}
                </span>
              </td>
              <td class="break-all px-5 py-3 text-center font-medium">
                <a [routerLink]="'/ministry/manage-merchant/' + data._id">
                  <button class="btn btn-primary btn-md">View</button></a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
