<div class="min-h-screen bg-white">
  <div
    class="md:px-25 text-cs-text-primary font-roboto container mx-auto flex items-center justify-center md:py-20 lg:items-stretch lg:justify-start"
  >
    <div class="hidden flex-1 flex-col font-manrope lg:flex lg:pr-8 xl:pr-14">
      <div>
        <div class="w-24">
          <h2 class="font-russoone text-5xl font-bold text-brand">
            <a routerLink="/">PTS</a>
          </h2>
        </div>
        <div class="mt-5 font-manrope text-4xl font-black">
          Wellcome Merchant
        </div>
      </div>
      <div class="mt-14 hidden max-w-full justify-center xl:flex">
        <img
          src="assets/image/undraw/undraw_fingerprint_login.svg"
          alt="Illustrations by Undraw"
          class="h-[500px]"
          title="Illustrations by Undraw"
        />
      </div>
    </div>
    <div class="w-full md:mt-14 md:w-[600px]">
      <div class="overflow-hidden rounded-xl bg-white md:border-2">
        <div class="p-10">
          <div class="mb-4 block w-24 lg:hidden">
            <h2 class="font-russoone text-5xl font-bold">PTS</h2>
          </div>
          <h1 class="mb-5 text-2xl">
            <span class="font-bold"> Sign In Merchant </span>Form
          </h1>
          <h4 class="text-2md mb-6 text-gray-500">
            Before you get started, please input your login details first.
          </h4>
          <form [formGroup]="loginMerchantForm" class="font-inter">
            <div class="flex flex-col sm:gap-4">
              <div class="w-full">
                <div class="form-control w-full">
                  <label class="label" for="email">
                    <span>Email</span>
                  </label>
                  <input
                    type="email"
                    placeholder="Email"
                    class="input input-bordered input-primary w-full"
                    [class.border-red-500]="
                      loginMerchantForm.controls['email'].invalid &&
                      (loginMerchantForm.controls['email'].dirty ||
                        loginMerchantForm.controls['email'].touched)
                    "
                    autocomplete="off"
                    id="email"
                    formControlName="email"
                  />
                  <label
                    class="label text-sm text-red-500"
                    for="email"
                    *ngIf="
                      loginMerchantForm.controls['email'].invalid &&
                      (loginMerchantForm.controls['email'].dirty ||
                        loginMerchantForm.controls['email'].touched)
                    "
                  >
                    <span
                      *ngIf="
                        loginMerchantForm.controls['email'].errors?.['required']
                      "
                    >
                      Please Input Email
                    </span>
                    <span
                      *ngIf="
                        loginMerchantForm.controls['email'].errors?.['pattern']
                      "
                    >
                      Please Input Valid Email
                    </span>
                  </label>
                </div>
              </div>
              <div class="w-full">
                <div class="form-control w-full">
                  <label class="label" for="password">
                    <span>Password</span>
                  </label>
                  <div class="relative w-full">
                    <input
                      [type]="isPasswordVisible ? 'text' : 'password'"
                      placeholder="Password"
                      class="input input-bordered input-primary w-full pr-10"
                      [class.border-red-500]="
                        loginMerchantForm.controls['password'].invalid &&
                        (loginMerchantForm.controls['password'].dirty ||
                          loginMerchantForm.controls['password'].touched)
                      "
                      autocomplete="off"
                      id="password"
                      formControlName="password"
                    />
                    <span
                      class="absolute inset-y-0 right-0 flex items-center pr-2"
                    >
                      <button
                        type="button"
                        class="focus:shadow-outline p-1 focus:outline-none"
                        (click)="togglePassword()"
                      >
                        <i
                          class="bi bi-eye-slash text-xl"
                          *ngIf="!isPasswordVisible"
                        ></i>
                        <i
                          class="bi bi-eye text-xl"
                          *ngIf="isPasswordVisible"
                        ></i>
                      </button>
                    </span>
                  </div>
                  <label
                    class="label text-sm text-red-500"
                    for="password"
                    *ngIf="
                      loginMerchantForm.controls['password'].invalid &&
                      (loginMerchantForm.controls['password'].dirty ||
                        loginMerchantForm.controls['password'].touched)
                    "
                  >
                    <span
                      *ngIf="
                        loginMerchantForm.controls['password'].errors?.[
                          'required'
                        ]
                      "
                    >
                      Please Input Password
                    </span>
                  </label>
                </div>
                <div class="mt-8">
                  <button
                    type="button"
                    class="btn btn-primary inline-flex w-full items-center justify-center gap-3 p-3.5 text-sm"
                  >
                    Sign In
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
