<div class="mt-6 flex flex-wrap">
  <div
    class="mb-6 w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4"
  >
    <div
      class="relative flex min-w-0 flex-col break-words rounded-2xl border bg-white shadow-xl"
    >
      <div class="flex-auto p-4">
        <div class="-mx-3 flex flex-row">
          <div class="max-w-full flex-none basis-3/4 px-3">
            <div>
              <p
                class="mb-0 font-sans text-sm font-semibold uppercase leading-normal"
              >
                Total Merchant
              </p>
              <h5 class="mb-2 font-bold">
                {{
                  merchantStatistic && merchantStatistic.merchantCount
                    ? merchantStatistic.merchantCount
                    : 0
                }}
              </h5>
              <p class="mb-0 text-sm text-gray-600">
                Total registered merchant
              </p>
            </div>
          </div>
          <div class="flex basis-1/4 justify-end">
            <div
              class="flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-tl from-blue-500 to-violet-500 text-center"
            >
              <i class="bi bi-info-circle relative text-lg text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="mb-6 w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4"
  >
    <div
      class="relative flex min-w-0 flex-col break-words rounded-2xl border bg-white shadow-xl"
    >
      <div class="flex-auto p-4">
        <div class="-mx-3 flex flex-row">
          <div class="max-w-full flex-none basis-3/4 px-3">
            <div>
              <p
                class="mb-0 font-sans text-sm font-semibold uppercase leading-normal"
              >
                Total Approved
              </p>
              <h5 class="mb-2 font-bold">
                {{
                  merchantStatistic && merchantStatistic.approvedMerchant
                    ? merchantStatistic.approvedMerchant
                    : 0
                }}
              </h5>
              <p class="mb-0 text-sm text-gray-600">Total approved merchant</p>
            </div>
          </div>
          <div class="flex basis-1/4 justify-end">
            <div
              class="flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-tl from-blue-500 to-violet-500 text-center"
            >
              <i class="bi bi-check-circle relative text-lg text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="mb-6 w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4"
  >
    <div
      class="relative flex min-w-0 flex-col break-words rounded-2xl border bg-white shadow-xl"
    >
      <div class="flex-auto p-4">
        <div class="-mx-3 flex flex-row">
          <div class="max-w-full flex-none basis-3/4 px-3">
            <div>
              <p
                class="mb-0 font-sans text-sm font-semibold uppercase leading-normal"
              >
                Total Pending
              </p>
              <h5 class="mb-2 font-bold">
                {{
                  merchantStatistic && merchantStatistic.pendingMerchant
                    ? merchantStatistic.pendingMerchant
                    : 0
                }}
              </h5>
              <p class="mb-0 text-sm text-gray-600">Total pending merchant</p>
            </div>
          </div>
          <div class="flex basis-1/4 justify-end">
            <div
              class="flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-tl from-blue-500 to-violet-500 text-center"
            >
              <i class="bi bi-dash-circle relative text-lg text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:w-1/4">
    <div
      class="relative flex min-w-0 flex-col break-words rounded-2xl border bg-white shadow-xl"
    >
      <div class="flex-auto p-4">
        <div class="-mx-3 flex flex-row">
          <div class="max-w-full flex-none basis-3/4 px-3">
            <div>
              <p
                class="mb-0 font-sans text-sm font-semibold uppercase leading-normal"
              >
                Total Rejected
              </p>
              <h5 class="mb-2 font-bold">
                {{
                  merchantStatistic && merchantStatistic.rejectedMerchant
                    ? merchantStatistic.rejectedMerchant
                    : 0
                }}
              </h5>
              <p class="mb-0 text-sm text-gray-600">Total rejected merchant</p>
            </div>
          </div>
          <div class="flex basis-1/4 justify-end">
            <div
              class="flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-tl from-blue-500 to-violet-500 text-center"
            >
              <i class="bi bi-x-circle relative text-lg text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-4">
  <div class="grid grid-cols-1 gap-4 px-4 lg:grid-cols-2">
    <div class="w-full rounded-2xl border bg-white p-4 shadow-2xl">
      <div class="border-b-2 pb-4">
        <h2 class="font-quicksand text-lg font-bold text-neutral">
          Analytics Charts
        </h2>
      </div>
      <div class="flex overflow-x-auto">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [dataLabels]="chartOptions.dataLabels!"
          [stroke]="chartOptions.stroke!"
          [colors]="chartOptions.colors!"
          [title]="chartOptions.title!"
          [subtitle]="chartOptions.subtitle!"
          [plotOptions]="chartOptions.plotOptions!"
          [yaxis]="chartOptions.yaxis!"
          [xaxis]="chartOptions.xaxis!"
          [tooltip]="chartOptions.tooltip!"
          class="w-full min-w-[400px]"
        ></apx-chart>
      </div>
    </div>
    <div class="w-full rounded-2xl border bg-white p-4 shadow-2xl">
      <div class="flex flex-col justify-between border-b-2 pb-4 sm:flex-row">
        <h2 class="font-quicksand text-lg font-bold text-neutral">
          Top 5 Products
        </h2>
        <form [formGroup]="sortByForm" (change)="sortTop5Products()">
          <div class="flex flex-row gap-2">
            <select
              class="select select-accent select-sm w-full max-w-[125px] justify-end"
              formControlName="ascending"
            >
              <option value="asc">Ascending</option>
              <option value="dsc">Descending</option>
            </select>
            <select
              class="select select-accent select-sm w-full max-w-[125px] justify-end"
              formControlName="sort_by"
            >
              <option disabled value="-1">Sort by</option>
              <option value="name">Name</option>
              <option value="sales">Sales</option>
              <option value="price">Buying Power</option>
              <option value="amount_sold">Total Sales</option>
            </select>
          </div>
        </form>
      </div>
      <div class="my-2 flex justify-end"></div>
      <div class="overflow-x-auto">
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Sales</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody *ngIf="topFiveProducts">
            <tr *ngFor="let data of topFiveProducts; let i = index">
              <th class="w-14 min-w-14 max-w-14 break-all">
                <span>{{ i + 1 }}</span>
              </th>
              <td class="w-50 min-w-50">
                <span class="line-clamp-2">
                  {{ data.name }}
                </span>
              </td>
              <td class="w-24 min-w-24 break-all">
                <span class="line-clamp-2">{{ data.product_sold }}</span>
              </td>
              <td class="w-34 min-w-34 break-all">
                <span class="line-clamp-2">
                  {{ data.price | currency: "MYR " }}
                </span>
              </td>
              <td class="w-34 min-w-34 break-all">
                <span class="line-clamp-2">
                  {{ data.amount_sold | currency: "MYR " }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
