<div class="container mx-auto my-10 block px-4 xl:max-w-[1200px]">
  <div class="flex items-center justify-between">
    <div
      class="mt-1 pr-10 font-inter text-xl font-medium text-neutral sm:text-2xl"
    >
      Recenly Added
    </div>
  </div>
  <div class="mt-2" *ngIf="!products">
    <app-card></app-card>
  </div>
  <swiper-container class="mt-2" *ngIf="products">
    <swiper-slide *ngFor="let data of products">
      <div class="w-full overflow-hidden rounded-lg border">
        <a class="cursor-pointer select-none">
          <figure class="aspect-video">
            <img class="h-full w-full object-cover" [src]="data.image" alt="" />
          </figure>
          <div class="p-4">
            <h3 class="line-clamp-1 text-lg font-semibold">
              {{ data.product_name }}
            </h3>
            <div class="mt-2 flex flex-row gap-2">
              <p class="line-clamp-2 font-inter text-sm text-gray-500">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
                ullam iusto veniam blanditiis fugit voluptatibus asperiores
              </p>
              <p class="mt-2 flex gap-2 font-poppins text-base font-[500]">
                <i class="bi bi-star-fill text-yellow-400"></i>
                {{ data.product_star }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
