<div
  class="mx-auto flex w-full animate-pulse flex-col items-start gap-2 sm:gap-10 lg:flex-row"
>
  <div class="w-full lg:w-8/12">
    <div class="flex flex-col">
      <h2 class="mb-1 font-quicksand text-3xl font-medium text-neutral">
        <div class="h-2.5 w-60 rounded-full bg-gray-200"></div>
      </h2>
      <span class="mb-4 flex items-center">
        <div class="h-2.5 w-40 rounded-full bg-gray-200"></div>
      </span>
    </div>
    <div class="relative">
      <div
        class="flex h-[300px] w-full items-center justify-center overflow-hidden rounded border-gray-200 bg-gray-300 sm:h-[500px]"
      >
        <svg
          class="dark:text-gray-600 h-10 w-10 text-gray-200"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 18"
        >
          <path
            d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
          />
        </svg>
      </div>
    </div>
    <div class="mt-4">
      <div class="flex justify-between gap-5">
        <div>
          <div class="mb-1 h-2.5 w-40 rounded-full bg-gray-200"></div>
          <div class="h-2.5 w-40 rounded-full bg-gray-200"></div>
        </div>
        <div class="flex h-8 items-center gap-3">
          <div class="h-2.5 w-10 rounded-full bg-gray-200"></div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="w-full">
        <div class="mb-4 h-2.5 w-48 rounded-full bg-gray-200"></div>
        <div class="mb-2.5 h-2 max-w-[480px] rounded-full bg-gray-200"></div>
        <div class="mb-2.5 h-2 rounded-full bg-gray-200"></div>
        <div class="mb-2.5 h-2 max-w-[440px] rounded-full bg-gray-200"></div>
        <div class="mb-2.5 h-2 max-w-[460px] rounded-full bg-gray-200"></div>
        <div class="h-2 max-w-[360px] rounded-full bg-gray-200"></div>
      </div>
    </div>
    <div class="mt-4">
      <div class="h-2.5 w-40 rounded-full bg-gray-200"></div>
    </div>
  </div>
  <div class="sticky mt-6 w-full sm:top-[146px] lg:mt-0 lg:w-4/12">
    <div class="mb-2 mt-6 pb-5">
      <div class="mb-2 h-5 w-40 rounded-full bg-gray-200"></div>

      <div class="flex w-full flex-col items-center gap-4">
        <div class="relative w-full space-y-2">
          <div class="h-2.5 w-full rounded-md bg-gray-200"></div>
          <div
            class="rounded-mdw-full h-12 w-full rounded-md bg-gray-200"
          ></div>
        </div>
        <div class="relative w-full space-y-2">
          <div class="h-2.5w-full rounded-md bg-gray-200"></div>

          <div class="h-12 w-full rounded-md bg-gray-200"></div>
        </div>
        <div class="relative w-full space-y-2">
          <div class="h-2.5 w-full rounded-md bg-gray-200"></div>

          <div class="h-[130px] w-full rounded-md bg-gray-200"></div>
        </div>
      </div>
    </div>
  </div>
</div>
