<app-dashboard-merchant>
  <div class="ds-merchant">
    <div class="card-9">
      <div class="card-content">
        <div
          class="flex w-full flex-col items-start justify-between space-y-2 px-2 pb-0 pt-2 sm:flex-row sm:items-center"
        >
          <h2 class="text-lg font-semibold">Create Product</h2>
        </div>
        <div class="mt-4">
          <app-add-edit-products></app-add-edit-products>
        </div>
      </div>
    </div>
    <div class="card-3">
      <app-merchant-account></app-merchant-account>
    </div>
  </div>
</app-dashboard-merchant>
