<header class="fixed top-0 z-20 w-full">
  <div class="hidden w-full justify-end bg-neutral text-white md:flex">
    <div class="container mx-auto flex justify-end px-2 sm:px-0">
      <ul class="flex items-center p-3 text-sm font-semibold">
        <li>
          <a
            routerLink="/"
            class="p-4 font-inter hover:bg-white hover:text-neutral"
          >
            Home
          </a>
        </li>
        <li>
          <a
            routerLink="/"
            class="p-4 font-inter hover:bg-white hover:text-neutral"
          >
            Products
          </a>
        </li>
        <li>
          <a
            routerLink="/"
            class="p-4 font-inter hover:bg-white hover:text-neutral"
          >
            About
          </a>
        </li>
        <li>
          <a
            routerLink="/contact"
            class="p-4 font-inter hover:bg-white hover:text-neutral"
          >
            Contact
          </a>
        </li>
        <li>
          <a
            routerLink="/merchant/register"
            class="p-4 font-inter hover:bg-white hover:text-neutral"
          >
            Join Us
          </a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="border-b-2 border-neutral/10 bg-base-100 md:py-4">
    <div class="container mx-auto px-2 sm:px-0">
      <div class="flex h-16 items-center justify-between md:h-12 lg:gap-3">
        <!-- Left -->
        <div class="justify-center md:flex md:w-1/6 md:items-center">
          <a routerLink="/" class="text-center text-neutral">
            <h2 class="text-center font-russoone text-4xl font-bold">PTS</h2>
          </a>
        </div>
        <!-- Middle -->
        <div class="hidden justify-center md:flex md:w-4/6 md:items-center">
          <div class="relative w-full">
            <input
              type="text"
              class="input-pts block w-full px-4 py-3 pr-11"
              placeholder="Search Destination..."
            />
            <button
              class="absolute inset-y-0 right-0 z-20 flex cursor-pointer items-center pr-4"
            >
              <svg
                class="h-6 w-6 text-gray-400"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <!-- Right -->
        <div class="flex justify-center md:w-1/6 md:items-center">
          <div class="flex items-center justify-center">
            <div class="relative inline-block">
              <div
                class="flex items-center divide-x-2 overflow-hidden rounded-full border bg-white shadow-md transition-colors duration-300 hover:bg-gray-100"
              >
                <button
                  class="flex items-center gap-1 rounded-full px-2 py-2 transition-colors duration-300"
                  [ngClass]="{ 'bg-gray-300': isDropdownOpen }"
                  (click)="toggle_dropdown()"
                >
                  <i class="bi bi-list text-xl leading-5"></i>
                  <i class="bi bi-person-circle text-xl leading-5"></i>
                </button>
              </div>
              <div
                class="absolute right-0 z-30 mt-2 w-48 origin-top-right rounded-lg border bg-white shadow-lg ring-1 ring-black ring-opacity-5"
                [ngClass]="{ hidden: !isDropdownOpen }"
              >
                <ul class="menu p-2 font-inter">
                  <li><a>Sign In</a></li>
                  <li><a>Sign Up</a></li>
                </ul>
                <div class="divider my-0 md:hidden">Menu</div>
                <ul class="menu p-2 font-inter md:hidden">
                  <li><a routerLink="/">Home</a></li>
                  <li><a routerLink="/">Products</a></li>
                  <li><a routerLink="/">About</a></li>
                  <li><a routerLink="/contact">Contact</a></li>
                  <li><a routerLink="/merchant/register">Join Us</a></li>
                </ul>
              </div>
              <div
                class="fixed bottom-0 left-0 right-0 top-0 z-[25] h-full w-full"
                [ngClass]="{ hidden: !isDropdownOpen }"
                (click)="toggle_dropdown()"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
