<header class="fixed top-0 z-20 w-full">
  <div class="hidden w-full justify-end bg-neutral text-white md:flex">
    <div class="container mx-auto flex justify-end px-2 sm:px-0">
      <ul class="flex items-center p-3 text-sm font-semibold">
        <li>
          <a
            routerLink="/"
            class="p-4 font-inter hover:bg-white hover:text-neutral"
          >
            Home
          </a>
        </li>
        <li>
          <a
            routerLink="/products"
            class="p-4 font-inter hover:bg-white hover:text-neutral"
          >
            Products
          </a>
        </li>
        <li>
          <a
            routerLink="/about"
            class="p-4 font-inter hover:bg-white hover:text-neutral"
          >
            About
          </a>
        </li>
        <li>
          <a
            routerLink="/contact"
            class="p-4 font-inter hover:bg-white hover:text-neutral"
          >
            Contact
          </a>
        </li>
        <li>
          <a
            routerLink="/merchant/register"
            class="p-4 font-inter hover:bg-white hover:text-neutral"
          >
            Join Us
          </a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="border-b-2 border-neutral/10 bg-base-100 md:py-4">
    <div class="container mx-auto px-2 sm:px-0">
      <div class="flex h-16 items-center justify-between md:h-12 lg:gap-3">
        <!-- Left -->
        <div class="justify-center md:flex md:w-1/6 md:items-center">
          <a routerLink="/" class="text-center text-neutral">
            <h2 class="text-center font-russoone text-4xl font-bold">PTS</h2>
          </a>
        </div>
        <!-- Middle -->
        <div class="hidden justify-center md:flex md:w-4/6 md:items-center">
          <div class="relative w-full">
            <form (submit)="searchProduct()">
              <input
                type="text"
                class="input-pts block w-full px-4 py-3 pr-11"
                placeholder="Search Destination..."
                [value]="search ? search : ''"
                #searchInput
                (change)="setSearch(searchInput.value)"
              />
              <button
                class="absolute inset-y-0 right-0 z-20 flex cursor-pointer items-center pr-4"
                type="submit"
              >
                <svg
                  class="h-6 w-6 text-gray-400"
                  aria-hidden="true"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </button>
            </form>
          </div>
        </div>
        <!-- Right -->
        <div class="flex justify-center md:w-1/6 md:items-center">
          <div class="flex items-center justify-center gap-2">
            <button
              class="flex items-center justify-center md:hidden"
              (click)="setIsMobileSearch(true)"
            >
              <svg
                class="h-6 w-6 text-gray-400"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </button>

            <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
              <div class="modal-box">
                <h3 class="text-lg font-bold">Hello!</h3>
                <p class="py-4">
                  Press ESC key or click the button below to close
                </p>
                <div class="modal-action">
                  <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Close</button>
                  </form>
                </div>
              </div>
            </dialog>
            <div class="relative inline-block">
              <div
                class="flex items-center divide-x-2 overflow-hidden rounded-full border bg-white shadow-md transition-colors duration-300 hover:bg-gray-100"
              >
                <button
                  class="flex items-center gap-1 rounded-full px-2 py-2 transition-colors duration-300"
                  [ngClass]="{ 'bg-gray-300': isDropdownOpen }"
                  (click)="toggle_dropdown()"
                >
                  <i class="bi bi-list text-xl leading-5"></i>
                  <i class="bi bi-person-circle text-xl leading-5"></i>
                </button>
              </div>
              <div
                class="absolute right-0 z-30 mt-2 w-48 origin-top-right rounded-lg border bg-white shadow-lg ring-1 ring-black ring-opacity-5"
                [ngClass]="{ hidden: !isDropdownOpen }"
              >
                <ul class="menu p-2 font-inter">
                  @if(!isCustomer){
                  <li><a (click)="openModal(true)">Sign In</a></li>
                  <li><a routerLink="/customer/register">Sign Up</a></li>
                  }@else{
                  <li><a routerLink="/profile">Profile</a></li>
                  <li><a routerLink="/orders">Recent Order</a></li>
                  <li><a routerLink="/review-orders">Review Order</a></li>
                  <li><a (click)="logout()">Logout</a></li>
                  }
                </ul>
                <div class="divider my-0 md:hidden">Menu</div>
                <ul class="menu p-2 font-inter md:hidden">
                  <li><a routerLink="/">Home</a></li>
                  <li><a routerLink="/products">Products</a></li>
                  <li><a routerLink="/about">About</a></li>
                  <li><a routerLink="/contact">Contact</a></li>
                  <li><a routerLink="/merchant/register">Join Us</a></li>
                </ul>
              </div>
              <div
                class="fixed bottom-0 left-0 right-0 top-0 z-[25] h-full w-full"
                [ngClass]="{ hidden: !isDropdownOpen }"
                (click)="toggle_dropdown()"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div
  class="fixed z-[999] h-full w-full bg-[#000000a9] transition duration-300 ease-out md:hidden"
  *ngIf="isMobileSearch"
>
  <div class="relative">
    <div class="mr-8 mt-15/100 flex justify-end">
      <button (click)="setIsMobileSearch(false)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8 text-white"
          fill="currentColor"
          viewBox="0 0 384 512"
        >
          <path
            d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
          />
        </svg>
      </button>
    </div>
    <div class="mt-[5%] flex items-center justify-center">
      <form (submit)="searchProduct()" class="relative">
        <input
          type="text"
          class="input-pts block w-full px-4 py-3 pr-11"
          placeholder="Search Destination..."
          [value]="search ? search : ''"
          #searchInput
          (change)="setSearch(searchInput.value)"
        />
        <button
          class="absolute inset-y-0 right-0 z-20 flex cursor-pointer items-center pr-4"
          type="submit"
        >
          <svg
            class="h-6 w-6 text-gray-400"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>

<!-- login modal -->
<input
  type="checkbox"
  id="login_modal"
  class="modal-toggle"
  [checked]="globalService.isModalLoginOpen"
/>
<div class="modal" role="dialog">
  <div class="modal-box">
    <button
      (click)="openModal(false)"
      class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2"
    >
      ✕
    </button>
    <app-login-customer-form></app-login-customer-form>
  </div>
</div>
