<header class="w-full z-20 top-0 fixed">
  <div class="bg-neutral text-white w-full hidden md:flex justify-end">
    <div class="mx-auto container px-2 sm:px-0 flex justify-end">
      <ul class="flex items-center text-sm font-semibold p-3">
        <li>
          <a
            routerLink="/"
            class="hover:bg-white hover:text-neutral p-4 font-inter"
          >
            Home
          </a>
        </li>
        <li>
          <a
            routerLink="/"
            class="hover:bg-white hover:text-neutral p-4 font-inter"
          >
            Products
          </a>
        </li>
        <li>
          <a
            routerLink="/"
            class="hover:bg-white hover:text-neutral p-4 font-inter"
          >
            About
          </a>
        </li>
        <li>
          <a
            routerLink="/contact"
            class="hover:bg-white hover:text-neutral p-4 font-inter"
          >
            Contact
          </a>
        </li>
        <li>
          <a
            routerLink="/merchant/register"
            class="hover:bg-white hover:text-neutral p-4 font-inter"
          >
            Join Us
          </a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="md:py-4 border-b-2 border-neutral/10 bg-base-100">
    <div class="mx-auto container px-2 sm:px-0">
      <div class="flex h-16 md:h-12 items-center justify-between lg:gap-3">
        <!-- Left -->
        <div class="justify-center md:flex md:items-center md:w-1/6">
          <a routerLink="/" class="text-neutral text-center">
            <h2 class="text-4xl font-russoone font-bold text-center">PTS</h2>
          </a>
        </div>
        <!-- Middle -->
        <div class="justify-center hidden md:flex md:items-center md:w-4/6">
          <div class="relative w-full">
            <input
              type="text"
              class="py-3 px-4 pr-11 block w-full input-pts"
              placeholder="Search Destination..."
            />
            <button
              class="absolute inset-y-0 right-0 flex items-center cursor-pointer z-20 pr-4"
            >
              <svg
                class="h-6 w-6 text-gray-400"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <!-- Right -->
        <div class="justify-center flex md:items-center md:w-1/6">
          <div class="flex items-center justify-center">
            <div class="relative inline-block">
              <div
                class="flex items-center divide-x-2 border rounded-full shadow-md overflow-hidden bg-white hover:bg-gray-100 transition-colors duration-300"
              >
                <button
                  class="flex items-center gap-1 py-2 px-2 rounded-full transition-colors duration-300"
                  [ngClass]="{ 'bg-gray-300': isDropdownOpen }"
                  (click)="toggle_dropdown()"
                >
                  <i class="bi bi-list text-xl leading-5"></i>
                  <i class="bi bi-person-circle text-xl leading-5"></i>
                </button>
              </div>
              <div
                class="origin-top-right absolute z-30 right-0 mt-2 w-48 border rounded-lg shadow-lg bg-white ring-1 ring-black ring-opacity-5"
                [ngClass]="{ hidden: !isDropdownOpen }"
              >
                <ul class="p-2 menu font-inter">
                  <li><a>Sign In</a></li>
                  <li><a>Sign Up</a></li>
                </ul>
                <div class="divider my-0 md:hidden">Menu</div>
                <ul class="p-2 menu font-inter md:hidden">
                  <li><a routerLink="/">Home</a></li>
                  <li><a routerLink="/">Products</a></li>
                  <li><a routerLink="/">About</a></li>
                  <li><a routerLink="/contact">Contact</a></li>
                  <li><a routerLink="/merchant/register">Join Us</a></li>
                </ul>
              </div>
              <div
                class="h-full w-full fixed top-0 right-0 left-0 bottom-0 z-[25]"
                [ngClass]="{ hidden: !isDropdownOpen }"
                (click)="toggle_dropdown()"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
