<app-dashboard-merchant>
  <div class="ds-merchant">
    <div class="card-4">
      <div class="card-content">
        <div class="-mx-3 flex flex-row">
          <div class="max-w-full flex-none basis-3/4 px-3">
            <div>
              <p
                class="mb-0 font-sans text-sm font-semibold uppercase leading-normal"
              >
                Today's Money
              </p>
              <h5 class="mb-2 font-bold">$53,000</h5>
              <p class="mb-0">
                <span class="text-sm font-bold leading-normal text-emerald-500"
                  >+55%</span
                >
                since yesterday
              </p>
            </div>
          </div>
          <div class="basis-1/4 px-3 text-right">
            <div
              class="inline-block h-12 w-12 rounded-full bg-gradient-to-tl from-blue-500 to-violet-500 text-center"
            >
              <i
                class="ni ni-money-coins relative top-3.5 text-lg text-white"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-4">
      <div class="card-content">
        <div class="-mx-3 flex flex-row">
          <div class="max-w-full flex-none basis-3/4 px-3">
            <div>
              <p
                class="mb-0 font-sans text-sm font-semibold uppercase leading-normal"
              >
                Today's Users
              </p>
              <h5 class="mb-2 font-bold">2,300</h5>
              <p class="mb-0">
                <span class="text-sm font-bold leading-normal text-emerald-500"
                  >+3%</span
                >
                since last week
              </p>
            </div>
          </div>
          <div class="basis-1/4 px-3 text-right">
            <div
              class="inline-block h-12 w-12 rounded-full bg-gradient-to-tl from-red-600 to-orange-600 text-center"
            >
              <i class="ni ni-world relative top-3.5 text-lg text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-4">
      <div class="card-content">
        <div class="-mx-3 flex flex-row">
          <div class="max-w-full flex-none basis-3/4 px-3">
            <div>
              <p
                class="mb-0 font-sans text-sm font-semibold uppercase leading-normal"
              >
                New Clients
              </p>
              <h5 class="mb-2 font-bold">+3,462</h5>
              <p class="mb-0">
                <span class="text-sm font-bold leading-normal text-red-600"
                  >-2%</span
                >
                since last quarter
              </p>
            </div>
          </div>
          <div class="basis-1/4 px-3 text-right">
            <div
              class="inline-block h-12 w-12 rounded-full bg-gradient-to-tl from-emerald-500 to-teal-400 text-center"
            >
              <i
                class="ni ni-paper-diploma relative top-3.5 text-lg text-white"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-4">
      <div class="card-content">
        <div class="-mx-3 flex flex-row">
          <div class="max-w-full flex-none basis-3/4 px-3">
            <div>
              <p
                class="mb-0 font-sans text-sm font-semibold uppercase leading-normal"
              >
                Sales
              </p>
              <h5 class="mb-2 font-bold">$103,430</h5>
              <p class="mb-0">
                <span class="text-sm font-bold leading-normal text-emerald-500"
                  >+5%</span
                >
                than last month
              </p>
            </div>
          </div>
          <div class="basis-1/4 px-3 text-right">
            <div
              class="inline-block h-12 w-12 rounded-full bg-gradient-to-tl from-orange-500 to-yellow-500 text-center"
            >
              <i class="ni ni-cart relative top-3.5 text-lg text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-dashboard-merchant>
