<app-main>
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <header>
        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
          Product Collection
        </h2>
      </header>

      <div class="mt-8 block lg:hidden">
        <button
          class="flex cursor-pointer items-center gap-2 border-b border-gray-400 pb-1 text-gray-900 transition hover:border-gray-600"
        >
          <span class="text-sm font-medium"> Filters & Sorting </span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4 rtl:rotate-180"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"
            />
          </svg>
        </button>
      </div>

      <div class="mt-4 lg:mt-8 lg:grid lg:grid-cols-3 lg:items-start lg:gap-8">
        <div class="hidden space-y-4 lg:block">
          <div>
            <p class="block text-xs font-medium text-gray-700">Filters</p>

            <div class="mt-1 space-y-2">
              <details
                class="overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden"
              >
                <summary
                  class="flex cursor-pointer items-center justify-between gap-2 p-4 text-gray-900 transition"
                >
                  <span class="text-sm font-medium"> Price </span>

                  <span class="transition group-open:-rotate-180">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-4 w-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                      />
                    </svg>
                  </span>
                </summary>

                <div class="border-t border-gray-200 bg-white">
                  <header class="flex items-center justify-between p-4">
                    <span class="text-sm text-gray-700">
                      Set a price range
                    </span>

                    <button
                      type="button"
                      class="text-sm text-gray-900 underline underline-offset-4"
                      (click)="resetPrice()"
                    >
                      Reset
                    </button>
                  </header>

                  <div class="border-t border-gray-200 p-4">
                    <div class="flex flex-col justify-between gap-4">
                      <label
                        for="FilterPriceFrom"
                        class="flex items-center gap-2"
                      >
                        <span class="text-sm text-gray-600">Rp</span>

                        <input
                          type="number"
                          id="FilterPriceFrom"
                          placeholder="From"
                          class="input input-primary input-sm w-full"
                          min="0"
                          [value]="min_price > 0 ? min_price : null"
                          #minPrice
                          (change)="setMinPrice(minPrice.value)"
                        />
                      </label>

                      <label
                        for="FilterPriceTo"
                        class="flex items-center gap-2"
                      >
                        <span class="text-sm text-gray-600">Rp</span>

                        <input
                          type="number"
                          id="FilterPriceTo"
                          placeholder="To"
                          class="input input-primary input-sm w-full"
                          min="0"
                          [value]="max_price > 0 ? max_price : null"
                          #maxPrice
                          (input)="setMaxPrice(maxPrice.value)"
                        />
                      </label>
                    </div>
                  </div>
                </div>
              </details>

              <details
                class="overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden"
              >
                <summary
                  class="flex cursor-pointer items-center justify-between gap-2 p-4 text-gray-900 transition"
                >
                  <span class="text-sm font-medium"> Category </span>

                  <span class="transition group-open:-rotate-180">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-4 w-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                      />
                    </svg>
                  </span>
                </summary>

                <div class="border-t border-gray-200 bg-white">
                  <header class="flex items-center justify-between p-4">
                    <span class="text-sm text-gray-700">
                      {{
                        selectedCategories.split(",").length > 1
                          ? selectedCategories.split(",").length - 1
                          : 0
                      }}
                      Selected
                    </span>

                    <button
                      type="button"
                      class="text-sm text-gray-900 underline underline-offset-4"
                      (click)="resetCategories()"
                    >
                      Reset
                    </button>
                  </header>

                  <ul
                    class="h-42 space-y-1 overflow-y-auto border-t border-gray-200 p-4"
                  >
                    <li *ngFor="let category of categories">
                      <label
                        for="id{{ category }}"
                        class="inline-flex items-center gap-2"
                      >
                        <input
                          type="checkbox"
                          id="id{{ category }}"
                          class="h-5 w-5 rounded border-gray-300"
                          [checked]="selectedCategories.includes(category)"
                          (change)="toggleCategory(category)"
                        />

                        <span
                          class="text-sm font-medium capitalize text-gray-700"
                        >
                          {{ category }}
                        </span>
                      </label>
                    </li>
                  </ul>
                </div>
              </details>
              <button class="btn btn-primary w-full" (click)="applyFilter()">
                Apply Filters
              </button>
            </div>
          </div>
        </div>

        @if(isFetching){
        <div class="lg:col-span-2">
          <ul class="grid gap-8 sm:grid-cols-2">
            <li>
              <div class="flex w-full flex-col gap-4">
                <div class="skeleton h-32 w-full"></div>
                <div class="skeleton h-4 w-28"></div>
                <div class="skeleton h-4 w-full"></div>
              </div>
            </li>
            <li>
              <div class="flex w-full flex-col gap-4">
                <div class="skeleton h-32 w-full"></div>
                <div class="skeleton h-4 w-28"></div>
                <div class="skeleton h-4 w-full"></div>
              </div>
            </li>
            <li>
              <div class="flex w-full flex-col gap-4">
                <div class="skeleton h-32 w-full"></div>
                <div class="skeleton h-4 w-28"></div>
                <div class="skeleton h-4 w-full"></div>
              </div>
            </li>
            <li>
              <div class="flex w-full flex-col gap-4">
                <div class="skeleton h-32 w-full"></div>
                <div class="skeleton h-4 w-28"></div>
                <div class="skeleton h-4 w-full"></div>
              </div>
            </li>
          </ul>
        </div>
        } @else {
        <div class="lg:col-span-2">
          @if(products.length > 0){
          <ul class="grid gap-4 sm:grid-cols-2">
            <li *ngFor="let product of products">
              <a
                [routerLink]="'/products/' + product._id"
                class="group block overflow-hidden"
              >
                <img
                  [src]="product.pictures[0].url"
                  class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[350px]"
                />

                <div class="relative bg-white pt-3">
                  <h3
                    class="text-xs text-gray-800 group-hover:underline group-hover:underline-offset-4"
                  >
                    {{ product.name }}
                  </h3>

                  <p class="mt-2">
                    <span class="line-clamp-1 text-xs text-gray-500">
                      {{ product.description }}
                    </span>
                    <span class="sr-only"> Regular Price </span>

                    <span
                      class="font-poppins font-semibold tracking-widest text-gray-900"
                    >
                      {{ product.price | currency: "MYR " }}
                    </span>
                  </p>
                </div>
              </a>
            </li>
          </ul>
          @if(page < total_pages){
          <div class="mt-4 flex items-center justify-center">
            <button class="btn btn-primary" (click)="loadMore()">
              @if(!isFetchingMore) { Load More } @else {
              <span class="loading loading-spinner">
                <span class="sr-only"> Loading...</span>
              </span>
              loading }
            </button>
          </div>
          } } @else {
          <div class="flex flex-col items-center justify-center gap-4">
            There are no products that match your filters.
          </div>
          }
        </div>
        }
      </div>
    </div>
  </section>
</app-main>
