<app-dashboard-merchant>
  <div class="mb-6 max-sm:mx-2" *ngIf="merchantData">
    <div class="ds-wrap">
      <div class="mb-5 flex flex-wrap items-center justify-between gap-3">
        <div class="flex flex-wrap items-center gap-3">
          <div class="flex flex-wrap items-center gap-2 sm:flex-nowrap">
            <button
              class="group flex items-center justify-center rounded-md border border-primary px-3 py-2 text-sm hover:bg-neutral hover:text-white focus:outline-none"
              type="button"
            >
              Print
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="-mt-0.5 ml-1.5 h-5 w-5 group-hover:text-white"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"
                ></path>
              </svg>
            </button>
            <button
              *ngIf="merchantData.status === 'approved'"
              class="group flex items-center justify-center rounded-md border border-primary px-3 py-2 text-sm hover:bg-blue-500 hover:text-white focus:outline-none"
              type="button"
              (click)="resetPassword()"
              [disabled]="isFetchingResetPassword ? true : false"
            >
              Reset Password
              <svg
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                class="ml-1.5 h-5 w-5 text-blue-500 group-hover:text-white"
                xmlns="http://www.w3.org/2000/svg"
                *ngIf="!isFetchingResetPassword"
              >
                <path
                  d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
              <span
                class="loading loading-spinner loading-sm ml-1.5"
                *ngIf="isFetchingResetPassword"
              ></span>
            </button>
          </div>
        </div>
        <div class="gap flex flex-wrap items-center gap-2 sm:flex-nowrap">
          <span class="text-base">Status:</span>
          <div
            class="badge flex flex-nowrap items-center gap-0.5 rounded-full px-4 py-3 text-sm font-medium capitalize"
            [ngClass]="{
              'badge-info': merchantData.status === 'pending',
              'badge-success': merchantData.status === 'approved',
              'border-none bg-red-600 text-white':
                merchantData.status === 'rejected'
            }"
          >
            {{ merchantData.status }}
          </div>
        </div>
      </div>
      <div class="mb-5 border-l px-3 text-base">
        <span class="font-medium">Created Date</span>:
        <span>{{ merchantData.created_at }}</span>
      </div>
      <div class="overflow-auto">
        <table
          class="table-border table-zebra w-full min-w-max table-auto border"
        >
          <tbody class="text-sm">
            <tr>
              <td class="px-3 py-1.5 text-left font-medium">Id</td>
              <td class="box-border px-3">
                {{ merchantData._id }}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-1.5 text-left font-medium">Company Name</td>
              <td class="box-border px-3">
                {{ merchantData.company_name }}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-1.5 text-left font-medium">
                Company Username
              </td>
              <td class="box-border px-3">
                {{ merchantData.company_username }}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-1.5 text-left font-medium">Email</td>
              <td class="box-border px-3">
                {{ merchantData.email }}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-1.5 text-left font-medium">Phone</td>
              <td class="box-border px-3">
                {{ merchantData.contact_number }}
              </td>
            </tr>

            <tr>
              <td class="px-3 py-1.5 text-left font-medium">Description</td>
              <td class="box-border px-3">
                {{ merchantData.company_description }}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-1.5 text-left font-medium">City</td>
              <td class="box-border px-3">
                {{ merchantData.city }}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-1.5 text-left font-medium">State</td>
              <td class="box-border px-3">
                {{ merchantData.state }}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-1.5 text-left font-medium">Country</td>
              <td class="box-border px-3">
                {{ merchantData.country }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="my-5 border-l px-3 text-base">
        <span class="font-medium">Document</span>
      </div>
      <div class="overflow-auto">
        <table
          class="table-border table-zebra w-full min-w-max table-auto border"
        >
          <thead class="text-sm font-bold">
            <tr>
              <td class="px-3 py-1.5 text-left font-medium">No</td>
              <td class="px-3 py-1.5 text-left font-medium">Filename</td>
              <td class="px-3 py-1.5 text-left font-medium">
                File Description
              </td>
            </tr>
          </thead>
          <tbody class="text-sm">
            @for (data of merchantData.document; track $index) {
            <tr>
              <td class="px-3 py-1.5 text-left font-medium">
                {{ $index + 1 }}
              </td>
              <td class="px-3 py-1.5 text-left">
                <a
                  class="link"
                  [href]="data.url"
                  target="_blank"
                  ngxTippy="Click to open file"
                  [tippyProps]="{
                    placement: 'right'
                  }"
                >
                  {{ data.filename }}
                </a>
              </td>
              <td class="px-3 py-1.5 text-left">
                {{ data.description }}
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-dashboard-merchant>
