<div class="w-full font-manrope md:w-[600px]">
  <div class="overflow-hidden rounded-xl bg-white md:border-2">
    <div class="p-10">
      <div class="mb-4 block w-24 lg:hidden">
        <h2 class="font-russoone text-5xl font-bold">PTS</h2>
      </div>
      <h1 class="mb-5 text-2xl">
        <span class="font-bold"> Sign Up Merchant </span>Form
      </h1>
      <h4 class="text-2md mb-6 text-gray-500">
        Before you get started, enter your merchant details.
      </h4>
      <form
        [formGroup]="formRegisterMerchant"
        novalidate=""
        class="font-inter"
        *ngIf="!isMerchantDataSaved"
      >
        <!-- Start Merchant Name & Username -->
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <div class="mb-1 w-full sm:w-1/2">
            <div class="form-control w-full">
              <label class="label" for="merchantName">
                <span>Merchant Name</span>
              </label>
              <input
                type="text"
                placeholder="Merchant Name"
                class="input input-bordered input-primary w-full"
                [class.border-red-500]="
                  formRegisterMerchant.controls['merchantName'].invalid &&
                  (formRegisterMerchant.controls['merchantName'].dirty ||
                    formRegisterMerchant.controls['merchantName'].touched)
                "
                autocomplete="off"
                id="merchantName"
                formControlName="merchantName"
              />
              <label
                class="label text-sm text-red-600"
                for="merchantName"
                *ngIf="
                  formRegisterMerchant.controls['merchantName'].invalid &&
                  (formRegisterMerchant.controls['merchantName'].dirty ||
                    formRegisterMerchant.controls['merchantName'].touched)
                "
              >
                <span
                  *ngIf="
                    formRegisterMerchant.controls['merchantName'].errors?.[
                      'required'
                    ]
                  "
                >
                  Please input Merchant Name
                </span>
              </label>
            </div>
          </div>
          <div class="mb-1 w-full sm:w-1/2">
            <div class="form-control w-full">
              <label
                class="label"
                for="merchantUsername"
                title="Used for merchant name and default merchant representative account"
              >
                <span>Merchant Username</span>
              </label>
              <input
                type="text"
                placeholder="Merchant Username"
                class="input input-bordered input-primary w-full"
                [class.border-red-500]="
                  formRegisterMerchant.controls['merchantUsername'].invalid &&
                  (formRegisterMerchant.controls['merchantUsername'].dirty ||
                    formRegisterMerchant.controls['merchantUsername'].touched)
                "
                autocomplete="off"
                id="merchantUsername"
                formControlName="merchantUsername"
                (focusout)="checkUsernameUsed()"
              />
              <label
                class="label grid grid-cols-1 text-sm text-red-600"
                for="merchantUsername"
                *ngIf="
                  formRegisterMerchant.controls['merchantUsername'].invalid &&
                  (formRegisterMerchant.controls['merchantUsername'].dirty ||
                    formRegisterMerchant.controls['merchantUsername'].touched)
                "
              >
                <span
                  *ngIf="
                    formRegisterMerchant.controls['merchantUsername'].errors?.[
                      'required'
                    ]
                  "
                >
                  Please Input Merchant Username
                </span>
                <span
                  *ngIf="
                    formRegisterMerchant.controls['merchantUsername'].errors?.[
                      'minlength'
                    ]
                  "
                >
                  Please Input at least 6 characters
                </span>
                <span
                  *ngIf="
                    formRegisterMerchant.controls['merchantUsername'].errors?.[
                      'pattern'
                    ]
                  "
                >
                  Please Input Valid Username
                </span>
                <span
                  *ngIf="
                    formRegisterMerchant.controls['merchantUsername'].errors?.[
                      'usernameUsed'
                    ]
                  "
                >
                  Username Already Used
                </span>
              </label>
            </div>
          </div>
        </div>
        <!-- End Merchant Name & Username -->

        <!-- Start Merchant Contact Number & Email -->
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <div class="mb-1 w-full sm:w-1/2">
            <div class="form-control w-full">
              <label
                class="label"
                for="contactNumber"
                title="Used for merchant contact number and default merchant representative account"
              >
                <span>Contact Number</span>
              </label>
              <input
                type="text"
                placeholder="Contact Number"
                class="input input-bordered input-primary w-full"
                [class.border-red-500]="
                  formRegisterMerchant.controls['contactNumber'].invalid &&
                  (formRegisterMerchant.controls['contactNumber'].dirty ||
                    formRegisterMerchant.controls['contactNumber'].touched)
                "
                autocomplete="off"
                id="contactNumber"
                formControlName="contactNumber"
              />
              <label
                class="label text-sm text-red-600"
                for="contactNumber"
                *ngIf="
                  formRegisterMerchant.controls['contactNumber'].invalid &&
                  (formRegisterMerchant.controls['contactNumber'].dirty ||
                    formRegisterMerchant.controls['contactNumber'].touched)
                "
              >
                <span
                  *ngIf="
                    formRegisterMerchant.controls['contactNumber'].errors?.[
                      'required'
                    ]
                  "
                >
                  Please Input Contact Number
                </span>
                <span
                  *ngIf="
                    formRegisterMerchant.controls['contactNumber'].errors?.[
                      'pattern'
                    ]
                  "
                >
                  Please Input Valid Number
                </span>
              </label>
            </div>
          </div>
          <div class="mb-1 w-full sm:w-1/2">
            <div class="form-control w-full">
              <label
                class="label"
                for="email"
                title="Used for merchant email and default merchant representative account"
              >
                <span>Email</span>
              </label>
              <input
                type="email"
                placeholder="Email"
                class="input input-bordered input-primary w-full"
                [class.border-red-500]="
                  formRegisterMerchant.controls['email'].invalid &&
                  (formRegisterMerchant.controls['email'].dirty ||
                    formRegisterMerchant.controls['email'].touched)
                "
                (focusout)="checkEmailUsed()"
                autocomplete="off"
                id="email"
                formControlName="email"
              />
              <label
                class="label text-sm text-red-600"
                for="email"
                *ngIf="
                  formRegisterMerchant.controls['email'].invalid &&
                  (formRegisterMerchant.controls['email'].dirty ||
                    formRegisterMerchant.controls['email'].touched)
                "
              >
                <span
                  *ngIf="
                    formRegisterMerchant.controls['email'].errors?.['required']
                  "
                >
                  Please Input Email
                </span>
                <span
                  *ngIf="
                    formRegisterMerchant.controls['email'].errors?.['pattern']
                  "
                >
                  Please Input Valid Email
                </span>
                <span
                  *ngIf="
                    formRegisterMerchant.controls['email'].errors?.['emailUsed']
                  "
                >
                  Email Already Used
                </span>
              </label>
            </div>
          </div>
        </div>
        <!-- End Merchant Contact Number & Email -->

        <!-- Start Merchant Address -->
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <div class="mb-1 w-full">
            <div class="form-control w-full">
              <label class="label" for="address">
                <span>Address</span>
              </label>
              <input
                type="text"
                placeholder="Your Merchant Address"
                class="input input-bordered input-primary w-full"
                [class.border-red-500]="
                  formRegisterMerchant.controls['address'].invalid &&
                  (formRegisterMerchant.controls['address'].dirty ||
                    formRegisterMerchant.controls['address'].touched)
                "
                autocomplete="off"
                id="address"
                formControlName="address"
              />
              <label
                class="label text-sm text-red-600"
                for="address"
                *ngIf="
                  formRegisterMerchant.controls['address'].invalid &&
                  (formRegisterMerchant.controls['address'].dirty ||
                    formRegisterMerchant.controls['address'].touched)
                "
              >
                <span
                  *ngIf="
                    formRegisterMerchant.controls['address'].errors?.[
                      'required'
                    ]
                  "
                >
                  Please Input Address
                </span>
              </label>
            </div>
          </div>
        </div>
        <!-- End Merchant Address -->

        <!-- Start Merchant City, Address, Country -->
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <div class="mb-1 w-full sm:w-1/3">
            <div class="form-control w-full">
              <label class="label" for="city">
                <span>City</span>
              </label>
              <input
                type="text"
                placeholder="City"
                class="input input-bordered input-primary w-full"
                [class.border-red-500]="
                  formRegisterMerchant.controls['city'].invalid &&
                  (formRegisterMerchant.controls['city'].dirty ||
                    formRegisterMerchant.controls['city'].touched)
                "
                id="city"
                formControlName="city"
              />
              <label
                class="label text-sm text-red-600"
                for="city"
                *ngIf="
                  formRegisterMerchant.controls['city'].invalid &&
                  (formRegisterMerchant.controls['city'].dirty ||
                    formRegisterMerchant.controls['city'].touched)
                "
              >
                <span
                  *ngIf="
                    formRegisterMerchant.controls['city'].errors?.['required']
                  "
                >
                  Please Input City
                </span>
              </label>
            </div>
          </div>
          <div class="mb-1 w-full sm:w-1/3">
            <div class="form-control w-full">
              <label class="label" for="state">
                <span>State</span>
              </label>
              <input
                type="text"
                placeholder="State"
                class="input input-bordered input-primary w-full"
                [class.border-red-500]="
                  formRegisterMerchant.controls['state'].invalid &&
                  (formRegisterMerchant.controls['state'].dirty ||
                    formRegisterMerchant.controls['state'].touched)
                "
                autocomplete="off"
                id="state"
                formControlName="state"
              />
              <label
                class="label text-sm text-red-600"
                for="state"
                *ngIf="
                  formRegisterMerchant.controls['state'].invalid &&
                  (formRegisterMerchant.controls['state'].dirty ||
                    formRegisterMerchant.controls['state'].touched)
                "
              >
                <span
                  *ngIf="
                    formRegisterMerchant.controls['state'].errors?.['required']
                  "
                >
                  Please Input State
                </span>
              </label>
            </div>
          </div>
          <div class="mb-1 w-full sm:w-1/3">
            <div class="form-control w-full">
              <label class="label" for="country">
                <span>Country</span>
              </label>
              <input
                type="text"
                placeholder="Country"
                class="input input-bordered input-primary w-full"
                [class.border-red-500]="
                  formRegisterMerchant.controls['country'].invalid &&
                  (formRegisterMerchant.controls['country'].dirty ||
                    formRegisterMerchant.controls['country'].touched)
                "
                autocomplete="off"
                id="country"
                formControlName="country"
              />
              <label
                class="label text-sm text-red-600"
                for="country"
                *ngIf="
                  formRegisterMerchant.controls['country'].invalid &&
                  (formRegisterMerchant.controls['country'].dirty ||
                    formRegisterMerchant.controls['country'].touched)
                "
              >
                <span
                  *ngIf="
                    formRegisterMerchant.controls['country'].errors?.[
                      'required'
                    ]
                  "
                >
                  Please Input Country
                </span>
              </label>
            </div>
          </div>
        </div>
        <!-- End Merchant City, Address, Country -->

        <!-- Start Merchant Description -->
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <div class="mb-1 w-full">
            <div class="form-control w-full">
              <label class="label" for="merchantDescription">
                <span>Merchant Description</span>
              </label>
              <textarea
                class="textarea textarea-primary"
                [class.border-red-500]="
                  formRegisterMerchant.controls['merchantDescription']
                    .invalid &&
                  (formRegisterMerchant.controls['merchantDescription'].dirty ||
                    formRegisterMerchant.controls['merchantDescription']
                      .touched)
                "
                placeholder="Describe your company profile..."
                id="merchantDescription"
                formControlName="merchantDescription"
              ></textarea>
              <label
                class="label text-sm text-red-600"
                for="merchantDescription"
                *ngIf="
                  formRegisterMerchant.controls['merchantDescription']
                    .invalid &&
                  (formRegisterMerchant.controls['merchantDescription'].dirty ||
                    formRegisterMerchant.controls['merchantDescription']
                      .touched)
                "
              >
                <span
                  *ngIf="
                    formRegisterMerchant.controls['merchantDescription']
                      .errors?.['required']
                  "
                >
                  Please Input Your Merchant Description
                </span>
              </label>
            </div>
          </div>
        </div>
        <!-- End Merchant Description -->

        <div class="mt-4">
          <button
            type="button"
            class="btn btn-primary inline-flex w-full items-center justify-center gap-3 p-3.5 text-sm"
            (click)="submitRegisterMerchant()"
          >
            Sign Up
          </button>
        </div>
      </form>

      <div *ngIf="isMerchantDataSaved">
        <div *ngFor="let formDocument of documentsControls; let i = index">
          <form [formGroup]="formDocument" novalidate class="font-inter">
            <!-- Start Document files -->
            <div class="mb-1 w-full">
              <div class="form-control flex w-full">
                <label class="label" for="file">
                  <span>Company Document: {{ i + 1 }}</span>
                  <button class="justify-end">
                    <i class="bi bi-x text-xl group-hover:text-red-600"></i>
                  </button>
                </label>
                <div class="relative w-full">
                  <input
                    type="file"
                    class="file-input file-input-bordered file-input-primary line-clamp-1 w-full pr-10"
                    id="file"
                    accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, image/png, image/jpeg, image/jpg"
                    (change)="inputFile($event.target, i)"
                    #file_input
                  />
                  <span
                    class="absolute inset-y-0 right-0 flex items-center pr-2"
                  >
                    <button
                      type="button"
                      class="focus:shadow-outline group p-1 focus:outline-none"
                      (click)="removeFileByIndex(i); file_input.value = ''"
                      *ngIf="formDocument.controls['file'].valid"
                    >
                      <i class="bi bi-x text-xl group-hover:text-red-600"></i>
                    </button>
                  </span>
                </div>

                <label
                  class="label text-sm text-red-600"
                  for="file"
                  *ngIf="
                    formDocument.controls['file'].value === null &&
                    formDocument.controls['file'].touched
                  "
                >
                  <span> Please select your document or licenses </span>
                </label>
              </div>
            </div>
            <!-- End Document files -->

            <!-- Start Document Filename -->
            <div class="flex flex-col sm:flex-row sm:gap-4">
              <div class="mb-1 w-full">
                <div class="form-control w-full">
                  <label class="label" for="filename">
                    <span>Filename</span>
                  </label>
                  <input
                    type="text"
                    placeholder="Your document filename"
                    class="input input-bordered input-primary w-full"
                    [class.border-red-500]="
                      formDocument.controls['filename'].invalid &&
                      (formDocument.controls['filename'].dirty ||
                        formDocument.controls['filename'].touched)
                    "
                    autocomplete="off"
                    id="filename"
                    formControlName="filename"
                  />
                  <label
                    class="label text-sm text-red-600"
                    for="filename"
                    *ngIf="
                      formDocument.controls['filename'].invalid &&
                      (formDocument.controls['filename'].dirty ||
                        formDocument.controls['filename'].touched)
                    "
                  >
                    <span
                      *ngIf="
                        formDocument.controls['filename'].errors?.['required']
                      "
                    >
                      Filename is required
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <!-- End Document Filename -->

            <!-- Start Document Description -->
            <div class="flex flex-col sm:flex-row sm:gap-4">
              <div class="mb-1 w-full">
                <div class="form-control w-full">
                  <label class="label" for="description">
                    <span>Description</span>
                  </label>
                  <textarea
                    class="textarea textarea-primary"
                    [class.border-red-500]="
                      formDocument.controls['description'].invalid &&
                      (formDocument.controls['description'].dirty ||
                        formDocument.controls['description'].touched)
                    "
                    placeholder="Describe your document as licenses, testimonials, SIUP, TDP, NPWP, etc."
                    id="description"
                    formControlName="description"
                  ></textarea>

                  <label
                    class="label text-sm text-red-600"
                    for="description"
                    *ngIf="
                      formDocument.controls['description'].invalid &&
                      (formDocument.controls['description'].dirty ||
                        formDocument.controls['description'].touched)
                    "
                  >
                    <span
                      *ngIf="
                        formDocument.controls['description'].errors?.[
                          'required'
                        ]
                      "
                    >
                      Description is required
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <!-- End Document Description -->
          </form>
        </div>
        <div class="mt-4">
          <button
            type="button"
            class="btn btn-primary inline-flex w-full items-center justify-center gap-3 p-3.5 text-sm"
            (click)="submitMerchantData()"
          >
            Submit Files
          </button>
          <button
            type="button"
            class="btn btn-primary btn-outline mt-4 inline-flex w-full items-center justify-center gap-3 p-3.5 text-sm"
            (click)="addDocument()"
          >
            Add More Files
          </button>
        </div>
      </div>
    </div>
    <div
      class="px-10 py-5 text-center text-[0.8125rem] md:border-t md:border-[#e6e6e699] md:bg-gray-50"
    >
      By clicking the button above, you agree to our
      <a href="/terms-of-service" class="font-semibold underline"
        >term of use</a
      >
      and
      <a href="/privacy-policy" class="font-semibold underline"
        >privacy policies</a
      >
    </div>
  </div>
</div>
