<app-main>
  <div class="mx-auto max-w-screen-xl px-5 pb-14 pt-4">
    <div class="text-center">
      <h1 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">About</h1>
      <p class="mt-4 text-lg text-slate-600">We are a small passionate team.</p>
    </div>

    <div class="mx-auto mt-16 flex max-w-4xl flex-col gap-3">
      <h2 class="text-3xl font-bold text-gray-800">Meet the team behind PTS</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We're a small team of developers and designers working together to
        create the best experience for our customers, merchant and ministry.
      </p>
    </div>
    <div class="mx-auto mt-12 grid max-w-4xl gap-10 md:grid-cols-2">
      <div class="group">
        <div class="aspect-square w-full">
          <picture>
            <img
              alt="Anak Agung Ari Wijaya"
              fit="cover"
              position="center"
              background="#ffffff"
              src="/assets/image/team/ari.jpg"
              loading="lazy"
              decoding="async"
              class="w-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl"
            />
          </picture>
        </div>

        <div class="mt-4 text-center">
          <h2 class="text-lg text-gray-800">Anak Agung Ari Wijaya</h2>
          <h3 class="text-sm text-slate-500">Project Manager</h3>
        </div>
      </div>
      <div class="group">
        <div class="aspect-square w-full">
          <picture>
            <img
              alt="Muhammad Zein Akbar"
              fit="cover"
              position="center"
              background="#ffffff"
              src="/assets/image/team/zein.png"
              loading="lazy"
              decoding="async"
              class="w-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl"
            />
          </picture>
        </div>

        <div class="mt-4 text-center">
          <h2 class="text-lg text-gray-800">Muhammad Zein Akbar</h2>
          <h3 class="text-sm text-slate-500">Technical Manager</h3>
        </div>
      </div>
    </div>
  </div>
</app-main>
